.header {
    position: relative;
    position: fixed;
    background-color: $c-bg-main;
    width: 100%;
    z-index: 1000;

    &__logo-wrapper {
        padding: 7px 15px;
    }

    &__menu {
        max-width: 268px;
        position: absolute;
        display: inline-block;
        padding: 20px 20px 390px;
        right: 0;
        background-color: rgba(255, 255, 255, 0.95);
        opacity: 0.95;
    }

    &__menu {
        display: none;
    }

    &__wrapper--opened &__menu {
        display: block;
    }

    &__burger {
        position: absolute;
        top: 15px;
        right: 20px;
        display: block;
        width: 22px;
        height: 17px;
        background-color: transparent;
        cursor: pointer;
        border: 0.5px solid $c-bg-main;
        outline: none;
    }

    &__wrapper--closed &__burger {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 22px;
            height: 3px;
            background-color: $c-font-primary;
            box-shadow: 0 7px 0 0 $c-font-primary, 0 14px 0 0 $c-font-primary;
        }

        &:hover::before {
            transition: 0.5s;
            background-color: $c-font-primary-hover;
            box-shadow: 0 7px 0 0 $c-font-primary-hover, 0 14px 0 0 $c-font-primary-hover;
        }
    }

    &__wrapper--opened &__burger {
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 0;
            width: 22px;
            height: 2px;
            background-color: $c-font-primary;
        }

        &::before {
            transition: 0.5s;
            transform: rotate(-45deg);
        }

        &::after {
            transition: 0.5s;
            transform: rotate(45deg);
        }

        &:hover::before,
        &:hover::after {
            background-color: $c-font-primary-hover;
        }
    }

    &__auth-title,
    &__nav-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    &__auth-button {
        margin-top: 18px;
        cursor: pointer;
        border: none;
        padding: 0;
        text-decoration: underline;
        background-color: transparent;
        color: $c-font-primary;
        font-size: 16px;
        line-height: 24px;
    }

    &__nav {
        margin-top: 35px;
    }

    &__nav-link {
        display: block;
        margin-top: 22px;
        text-decoration: underline;
        color: $c-font-primary;
        font-size: 16px;
        line-height: 24px;
    }
}
