.hero {
    background-image: url("/img/pic_main.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 105%;
    padding: 98px 14px 40px;

    @media (min-width: 800px) {
        padding: 89px 0 112px;
    }

    &__wrapper {
        max-width: 1000px;
        padding: 0 20px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        font-weight: 600px;
        font-size: 20px;
        line-height: 27px;
        color: $c-bg-main;

        @media (min-width: 800px) {
            text-align: start;
            font-size: 36px;
            line-height: 49px;
        }
    }

    &__search-wrapper {
        margin-top: 19px;
        position: relative;

        @media (min-width: 800px) {
            display: flex;
        }
    }

    &__search {
        width: 100%;
        padding: 16px 48px 16px 12px;
        font-weight: 600px;
        font-size: 16px;
        line-height: 24px;
        border: 2px solid $c-border-main;
        border-radius: 4px;
        color: $c-font-secondary;

        @media (min-width: 800px) {
            border-radius: 8px;
        }
    }

    &__search-button {
        cursor: pointer;
        display: block;
        padding: 0;
        position: absolute;
        border: none;
        background-color: transparent;
        top: 50%;
        right: 12px;
        transform: translate(0, -50%);

        @media (min-width: 800px) {
            position: relative;
            top: auto;
            right: auto;
            transform: translate(0, 0);
            background-color: $c-button-main;
            margin-left: 17px;
            border-radius: 8px;
        }
    }

    &__search-button:hover &__search-icon {
        path {
            fill: $c-font-primary-hover;
        }
    }

    &__search-button:hover {
        @media (min-width: 800px) {
            background-color: $c-button-main-hover;
        }
    }

    &__search-button-text {
        display: none;

        @media (min-width: 800px) {
            display: inline;
            padding: 0 32px;
            font-weight: 600px;
            font-size: 24px;
            line-height: 33px;
            color: $c-bg-main;
        }
    }

    &__search-button-icon {
        @media (min-width: 800px) {
            display: none;
        }
    }

    &__description {
        margin-top: 8px;
        font-weight: 600px;
        font-size: 12px;
        line-height: 16px;
        color: $c-bg-main;

        @media (min-width: 800px) {
            margin-top: 12px;
            font-size: 16px;
            line-height: 22px;
        }
    }
}
