.offer {
    &__title {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 28px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;

        @media (min-width: 800px) {
            padding: 0 20px;
        }

        &--second {
            display: none;
        }

        @media (min-width: 800px) {
            margin-top: 55px;
            font-size: 36px;
            line-height: 49px;

            &--first {
                display: none;
            }

            &--second {
                display: block;
            }
        }
    }

    &__nav-list {
        display: none;

        @media (min-width: 800px) {
            max-width: 1000px;
            margin: 16px auto 0;
            padding: 0 150px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__nav-link {
        display: block;
        text-decoration: none;
        color: $c-font-primary;
        font-weight: 500;
        font-size: 19px;
        line-height: 26px;
        margin-left: 28px;
        border-bottom: 1px dashed $c-font-primary;

        &--more {
            border-bottom: none;
            color: $c-font-main;
        }
    }

    &__list {
        margin-top: 17px;

        @media (min-width: 800px) {
            margin-top: 0;
        }
    }

    &__item {
        border-bottom: 1px solid $c-border-main;

        @media (min-width: 800px) {
            padding: 60px 0;
        }
    }

    &__item-wrapper {
        @media (min-width: 800px) {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            padding: 0 20px;
        }
    }

    &__list &__item:nth-child(2n) &__item-wrapper {
        @media (min-width: 800px) {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &__item-picture-wrapper {
        display: none;

        img {
            display: block;
        }

        @media (min-width: 800px) {
            display: block;
            margin-left: 40px;
        }
    }

    &__list &__item:nth-child(2n) &__item-picture-wrapper {
        @media (min-width: 800px) {
            margin-left: 0;
            margin-right: 40px;
        }
    }

    &__item-header {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        padding: 6px 34px 6px 14px;

        @media (min-width: 800px) {
            padding: 0;
        }

        &::before {
            position: absolute;
            content: "";
            border: 7px solid transparent;
            border-top: 7px solid $c-font-primary;
            top: 50%;
            right: 20px;

            @media (min-width: 800px) {
                display: none;
            }
        }

        &:hover::before {
            border: 7px solid transparent;
            border-top: 7px solid $c-font-primary-hover;
        }
    }

    &__item--opened &__item-header {
        &::before {
            border: 7px solid transparent;
            border-bottom: 7px solid $c-font-primary;
            transform: translate(0, -50%);
        }

        &:hover::before {
            border: 7px solid transparent;
            border-bottom: 7px solid $c-font-primary-hover;
        }
    }

    &__item-icon {
        display: block;

        @media (min-width: 800px) {
            display: none;
        }
    }

    &__item-title {
        display: block;
        color: $c-font-primary;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-left: 20px;
        border-bottom: 1px dashed $c-font-primary;

        @media (min-width: 800px) {
            font-size: 25px;
            line-height: 32px;
            margin: 0;
            color: $c-font-main;
            border: none;
        }
    }

    &__item-header:hover &__item-title {
        color: $c-font-primary-hover;
        border-bottom: 1px dashed $c-font-primary-hover;
    }

    &__item-header:hover &__item-icon {
        path {
            fill: $c-font-primary-hover;
        }
    }

    &__item &__item-body {
        display: none;

        @media (min-width: 800px) {
            display: block;
        }
    }

    &__item--opened &__item-body {
        display: block;
        padding: 0 20px 20px;
    }

    &__item-description {
        margin-top: 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        @media (min-width: 800px) {
            margin-top: 12px;

            &:last-child {
                margin-top: 27px;
            }
        }
    }

    &__item-important {
        text-transform: uppercase;
        font-weight: 900;
        color: $c-font-important;
    }
}
