// media
$sm: 480px;
$md: 768px;
$lg: 980px;
$xl: 1280px;

// indentation
$grid-gutter: 15px;

//font
$f-primary: "Open Sans";

// colors
$c-bg-main: #ffffff;
$c-border-main: #00468533;
$c-button-main: #d30531;
$c-button-main-hover: #e1133f;
$c-font-main: #000000;
$c-font-primary: #004685;
$c-font-primary-hover: #569ddc;
$c-font-secondary: #00468533;
$c-font-important: #dc143c;
